ion-icon{
    text-align: center;
    align-items: center;
    font-size:50px;
}
.ion-padding{
    text-align: center;
    align-items: center;
}
ion-menu-button{
    color: white;
  }
  ion-menu-button{
    color: white;
  }