ion-title{
    background-position: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:#0ba191;
    top: 0;
    text-align: center;
    left: 0;
}

ion-avatar{
    float: left;
    font-size: 10px;
    overflow: hidden;
}
.comments-sec{
    float: right;
}
.icon-view{
    font-size: 15px;
    text-align: center;
    padding-right: 15px;
    color:teal;
    
    
}

img{
    border: 1px;
    // max-height: 30vh;
    // object-fit: contain;
    // padding: 10px;
    
    
}
ion-img{
    // max-height: 30vh;
    // object-fit: contain;
    // padding: 10px;
    overflow: hidden;
}
.comments-show{

    color: black;

}
ion-card-content{
    color:black;
    font-size:16px;
    // float: right;
    margin-left: auto;
    margin-right: auto;

}
.commentbtn{
    float: right;
    width: 20%;
}
.top-icon{
    float: right;
    padding-inline-end: 20px;
    font-size: 20px;
    color:white;
}
.userpic{
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-inline-start: 8px;
}
ion-card-title{
//   margin-left:  30%;
margin-left: auto;
margin-right: auto;

}
h6{
    margin-left:  30%;
    font-size: 100%;

}
ion-img{
    overflow: hidden;
}
ion-menu-button{
    color: white;
  }


