<ion-header>
  <ion-toolbar>
    <ion-title>Terms and Conditions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="ion-padding">

<div class="container">
    <div class="row">
      <div class="col md-5">
          
              <h3>Disclaimer</h3>
              <p>VerbaLize disclaims responsibility for actions of users on our app. We do not claim ownership or endorse any of the content that is broadcast on our platform. Fundamentally, human nature cannot be controlled and people you connect to may behave inappropriately</p>
              <br>
              <p>These people are solely responsible for their own behavior. If a stranger on our app is breaking our chat rules. including our Terms and Conditions, otherwise making you uncomfortable in any way please do not hesitate to disconnect from the chat</p>
              
             
              <ul>
                      <li>Do not use VerbaLize if you are under 13 years old.</li>
                      <li>If you're under 18 years old,then you must have a parent or guardian's permission to use the app.</li>
                      <li>Please refrain from having conversation of sexual nature</li>
                      <li>Do not transmit nudity, sexually harass anyone or behave in a way that is inappropriate or illegal in nature</li>
                      <li>Harassment, racism, sexism , bullying and excessive vulgarity will not be tolerated.  If anyone is making you uncomfortable, please disconnect from the chat.</li>
                      <li>Spamming our chat room is not allowed</li>
               </ul>
              <br>
              
                      <p>This includes excessively posting links/phrases, promoting or advertising products/services, or anything else that can be interpreted as spam. For more information please visit Wikipedia's entry on 'Spamming'</p>
              <ul>
                  <li>Do not transmit any disgusting, shocking ,violent situations or illegal content of any kind.</li>
                  <li>Do not share peoples' private information. In addition, please be carefull discussing any information about yourself. This includes your name, age , location , social ,account or anything else.
                       Parents looking to help their kids be safe online can learn more on Google's Be Internet Awesome.</li>
                  <li>Transmitting anything that may defame or damage someone's reputation is not allowed.</li>
                  <li>Violating intellectual property rights on our platform will not be tolerated.</li>
              
              </ul>
              
              <br>
              <a routerLink="/signin">Back to <i>SIGN IN</i> page</a>
    </div>
    </div>
    </div>
</div>
</ion-content>
