ion-img{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    
}
.top-icon{
    float: right;
    padding-inline-end: 20px;
    font-size: 30px;
    color:white;
}
.footer{
    text-align: center;
    justify-content: center;
    color: darkcyan !important;
    
}
.user{
    
    text-align: center;
    
}
h3{
    text-align: center;
    color: darkcyan !important;
}
ion-label{
    color: darkcyan !important;
}
ion-menu-button{
    color: white;
  }
  ion-menu-button{
    color: white;
  }


