.welcome-card ion-img {
    max-height: 35vh;
   
    
  }
  ion-card-subtitle{
     font-size: 24px;
     display: block;
    align-self: center;
    text-align: center;
  }
  .icon-list{
    display: block;
    align-self: center;
    text-align: center;
    font-size:30px;
    margin-inline-end: 17px;
}